ul.octave{
  display: inline-block;
  padding: 0;
  position:relative;
}

ul.octave li{
  float: left;
  list-style-type: none;
  color: #cecece;
  text-align: center;
}
ul.octave li.disabled{
  background-color:  #cecece;
}
.scaleSelector{
  float:left;
}
ul.octave li.selected{
  background: pink;
}
ul.octave li.white:hover:not(.disabled):not(.selected){
  background: #efefef;
}
ul.octave li.black:hover:not(.disabled):not(.selected){
  background: #555;
}
ul.octave li > * {
  vertical-align: bottom;
}
li.white{
  width: 30px;
  height: 150px;
  border: solid 1px #bdbdbd;
  z-index:1;

}
li.black{
  width: 22px;
  height: 80px;
  background: black;
  z-index:2;
  position:absolute;
  border: solid 1px #bdbdbd;
}

li.black.c{
  left: 20px;
}

li.black.d{
  left: 52px;
}

li.black.f{
  left: 116px;
}

li.black.g{
  left: 148px;
}
li.black.a{
  left: 180px;
}
input[type=checkbox].player{
  width:50px;
  height: 50px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
.keyProbabilityContainer{
  float: left;
}
.gradeProbability{
  clear:both;
}
.gradeProbability .gradeName{
  color: #cecece;
  font-size: 0.8em;
}
.gradeProbability .grade{
  display: inline-block;
  text-align: center;
}
.gradeProbability input[type=range]{
  height: 100px;
}
ul.scaleTypeSelector{
  list-style-type: none;
  padding: 0;
}
.scaleTypeContainer{
  float: right;
  padding: 20px;
}
